<form ng-submit="saveContact()" novalidate name="newContactForm" id="newContactForm">
  <span ng-show="ADDING">
    <label for="inputFirstName">First name:</label>
    <input type="text" ng-model="newContact.firstName" ng-required="true"
           id="inputFirstName" class="form-control">
    <label for="inputSurname">Surname:</label>
    <input type="text" ng-model="newContact.surname" ng-required="true"
           id="inputSurname" class="form-control">
    <label for="inputEmail">E-mail address:</label>
    <input type="text" ng-model="newContact.email" ng-required="true"
           id="inputEmail" class="form-control">
    <button id="saveNewContactBtn" type="submit" class="btn btn-success" ng-disabled="newContactForm.$invalid">Save</button>
  </span>
</form>
<br/>
<table class="table">
  <tr>
    <th>Name</th>
    <th>E-mail address</th>
    <th>
      <button ng-hide="ADDING" ng-click="ADDING = true" type="button" class="btn btn-primary" id="addNewContactBtn">Add</button>
    </th>
  </tr>
  <tr ng-repeat="contact in contacts">
    <td ng-hide="contact.editMode">{{contact | contactName}}</td>
    <td ng-hide="contact.editMode">{{contact.email}}</td>
    <td ng-show="contact.editMode">
      <form ng-submit="edit(contact)">
        <input title="First Name" type="text" ng-model="contact.firstName"
               id="inputFirstName_{{contact.id}}" class="form-control">
        <input title="First Name" type="text" ng-model="contact.surname"
               id="inputSurname_{{contact.id}}" class="form-control">
        <br/>
        <input title="First Name" type="text" ng-model="contact.email"
               id="inputEmail_{{contact.id}}" class="form-control">
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </td>
    <td>
      <button class="btn" ng-click="contact.editMode = true">Edit</button>
      <button class="btn btn-danger" ng-click="delete(contact)">Delete</button>
    </td>
  </tr>
</table>
